/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Button & Homescreen Panel CSS
            i.  Panel Content
III.    Navigation Bar CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
@charset "UTF-8";

body{
font-size: 14px; 
}

a{
list-style-type: none;
text-decoration: none !important;
}
p{
text-indent: 35px;
padding: 20px;
}

/* ------- End of General CSS ------- */

/* ------- Home Button & Homescreen Panel CSS------- */
/*Navigation Bar CSS*/
.bannertitle{
align-items: center;
background-color: gray;
border-radius: 35px 35px 10px 10px;
color: white;
font-family: 'Sorts Mill Goudy', serif;    
font-size: 18px;
height: 3vh;
opacity: 0.9;
padding: 10px;
position: fixed;
left: 5vw;
top:14vh;
}

.primarynavmenu{
background-color: gray;
border-radius: 10px 86px;
font-size: 18px;
display:flex;
height:6.5vh;
opacity: 0.75;
position:fixed;
align-items: center;
left: 27vw;
list-style-type: none;
top: 13vh;
}
.primarynavmenu li ul li{
display: none;
}

li.pnav{
padding: 15px;
text-decoration: none;
}
.pnav a{
color: white;
}
.pnav a:hover{
color: #830300;
}
li.subpnav{
list-style-type: none;
text-align: center;
}
/*End of Navigation Bar CSS*/
/*Course Description Banner CSS*/
.graybee{
position: absolute;
top:30vh;
left:83vw;
z-index:200;
}
.banner{
background: maroon;
border-radius: 3px 3px 55px 55px;
display:none;
height: 25vh;
width:24.2vw;
left:60.7vw;
opacity:0.8;
position: absolute;
top: 18.5vh;
}
.graybee:hover + .banner{
display:block;
}
p.banner{
color: white;
font-family: 'Sorts Mill Goudy', serif;  
font-size: 24px;
}
.maroon{
color: black;
}
.gray{
color:darkgray;
}
/*End of Course Description Banner CSS*/
.homescreen {
 background-attachment: fixed;
 background-image: url("../images/home.JPG");
 background-position:top center;
 background-size: cover;
 height: 86vh;
 width: auto;
 overflow: hidden;
 -webkit-animation: fadein ease-in-out 2s; /* Safari and Chrome */
 -moz-animation: fadein ease-in-out 2s; /* Firefox */
 -ms-animation: fadein  ease-in-out 2s; /* Internet Explorer */
 -o-animation: fadein ease-in-out 2s; /* Opera */
 animation: fadein ease-in-out 2s;
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* End of Home Button & Homescreen Panel CSS Settings */
