/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Button & Homescreen Panel CSS
            i.  Panel Content
III.    Navigation Bar CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
@charset "UTF-8";

body{
font-size: 14px; 
}

a{
list-style-type: none;
text-decoration: none !important;
}

a:hover{
color: #830300;
}
/* ------- End of General CSS ------- */

/* ------- Home Button & Homescreen Panel CSS------- */
/*Navigation Bar CSS*/
.primarynavmenu{
font-size: 18px;
display:flex;
position:fixed;
left: 25vw;
list-style-type: none;
top: 9vh;
}
li.pnav{
padding: 14px;
text-align: center;
text-decoration: none;
}
li.subpnav{
list-style-type: none;
text-align: center;
}
/*End of Navigation Bar CSS*/
.bannertitle{
color: white;
font-family: 'Sorts Mill Goudy', serif;    
font-size: 18px;
position: fixed;
left: 5vw;
top:15vh;
}

.homescreen {
 background-attachment: fixed;
 background-image: url("../images/home.JPG");
 background-position:top center;
 background-size: cover;
 height: 86vh;
 width: auto;
 overflow: hidden;
 -webkit-animation: fadein ease-in-out 2s; /* Safari and Chrome */
 -moz-animation: fadein ease-in-out 2s; /* Firefox */
 -ms-animation: fadein  ease-in-out 2s; /* Internet Explorer */
 -o-animation: fadein ease-in-out 2s; /* Opera */
 animation: fadein ease-in-out 2s;
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Firefox */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* End of Home Button & Homescreen Panel CSS Settings */
