/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------

I.       General CSS
II.     Home Button & Homescreen Panel CSS
            i.  Panel Content
III.    Navigation Bar CSS
            i.  Navigation Bar Contents
            ii. Animated Scroll Arrow
IV.      About Panel CSS
            i.   Image Title Bar
            ii.  3 Column Information
V.       Services Panel CSS
            i.   Image Title Bar
            ii.  Panel Background Image
            iii. Accordion Slider & Content

VI.      Porfolio Panel CSS
VII.     Quote Panel CSS
VIII.    Support Panel CSS
IX.      Footer

------------------------------------ 
*/

/* ------- General CSS ------- */
@charset "UTF-8";

section {
height: 100vh;
font-family: 'Dosis', sans-serif;
}

body{ 
font-size: 14px; 
}

a{
text-decoration: none;
}

a:hover{
color: #830300;
}

.page-container {
display: -webkit-box;
display: flex;
-webkit-box-orient: vertical;
flex-direction: column;
padding: 0px;
box-sizing: border-box;
}
/* ------- End of General CSS ------- */

/* ------- Home Button & Homescreen Panel CSS------- */

.homescreen {
 background-attachment: fixed;
 background-image: url("../images/home.JPG");
 background-position:top center;
 background-size: cover;
 position: relative;
 width: 100%;
 height: 99vh;
 overflow: hidden;
 -webkit-animation: fadein ease-in-out 2s; /* Safari and Chrome */
 -moz-animation: fadein ease-in-out 2s; /* Firefox */
 -ms-animation: fadein  ease-in-out 2s; /* Internet Explorer */
 -o-animation: fadein ease-in-out 2s; /* Opera */
 animation: fadein ease-in-out 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* End of Home Button & Homescreen Panel CSS Settings */

/*Navigation Bar CSS*/
nav {
position: absolute;
list-style-type: none;
top:0vh;
width: 100%;
height: 10vh;
z-index: 200;
}
.nav{
color: #555555;
}

.hnav{
display:inline-block;
height:10vh;
text-decoration: none;
text-transform: uppercase;
width:100%;
z-index: 200;
}

.title{
font-size: 1.2vw;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
width: 12vw;
margin-top: 3vh;
margin-left: 14vw;
font-weight: 600;
position: absolute;
top: 1vh;
}

.nav:hover{
color: #830300;
}

ul.menu{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: flex;
display: flex;
list-style-type: none;
position: absolute;
margin-top: 3.3vh;
left:21vw;
width: 76vw;
}

ul.menu li a{
color: #fff;
display: inline-block;
font-family: 'Dosis', sans-serif;
font-size: 1.2vw;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
padding: 5px 20px 5px 20px;
text-decoration: none;
}

#courses li ul{ 
display:none; 
position:absolute; 
} 

#courses li:hover ul{
display:block; 
background:none;
text-decoration: none;
height:auto; 
width:6em; 
}

#courses li ul li{
clear:both; 
border-style:none;
}

/*End of Navigation Bar CSS*/
