
body, html { overflow-x:hidden; }

body {
    background-color: #ffffff;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 14px;
	font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.templatemo_clear {
	clear: both;
}

.height30 {
	height: 30px;
}

.templatemo-top-bar {
    background-color:#fff;
    min-height: 40px;
}

.pull-right a{
    color: #fff;
    text-decoration: none;
}

.pull-center a{
    color: #fff;
    text-decoration: none;	
}

.pull-center{
    top: 0;
    margin: auto;
}

#email a{
    color: #800000;
}

#curriculum a{
	color: #800000;
}

.pull-right a:hover, .pull-right a:focus{
    color: #fff;
}

.templatemo-top-menu {
    min-height:110px;
    background: rgba(123,17,19,0.84);
    background: -moz-linear-gradient(45deg, rgba(123,17,19,0.84) 0%, rgba(123,17,19,0.89) 29%, rgba(123,17,19,0.92) 49%, rgba(123,17,19,0.94) 63%, rgba(123,17,19,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(123,17,19,0.84)), color-stop(29%, rgba(123,17,19,0.89)), color-stop(49%, rgba(123,17,19,0.92)), color-stop(63%, rgba(123,17,19,0.94)), color-stop(100%, rgba(123,17,19,1)));
    background: -webkit-linear-gradient(45deg, rgba(123,17,19,0.84) 0%, rgba(123,17,19,0.89) 29%, rgba(123,17,19,0.92) 49%, rgba(123,17,19,0.94) 63%, rgba(123,17,19,1) 100%);
    background: -o-linear-gradient(45deg, rgba(123,17,19,0.84) 0%, rgba(123,17,19,0.89) 29%, rgba(123,17,19,0.92) 49%, rgba(123,17,19,0.94) 63%, rgba(123,17,19,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(123,17,19,0.84) 0%, rgba(123,17,19,0.89) 29%, rgba(123,17,19,0.92) 49%, rgba(123,17,19,0.94) 63%, rgba(123,17,19,1) 100%);
    background: linear-gradient(45deg, rgba(123,17,19,0.84) 0%, rgba(123,17,19,0.89) 29%, rgba(123,17,19,0.92) 49%, rgba(123,17,19,0.94) 63%, rgba(123,17,19,1) 100%),  url(../images/sealback.png);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b1113', endColorstr='#7b1113', GradientType=1 );
    padding-bottom: 10px;
    z-index: 5000;
    width:100%;
}

.templatemo-top-menu .navbar-toggle {
    background: #800000;
    margin-top: 38px;
}

.templatemo-top-menu .navbar-toggle:hover, .templatemo-top-menu .navbar-toggle:focus  {
    background: #393939;
}

.templatemo-top-menu .navbar-brand {
    padding: 0;
    margin: 30px 0 0 0;
}

/* ------ Carousel ----- */

#templatemo-carousel {
    background: url('../images/upperfieldsnow.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 500px;
}

#templatemo-carousel .carousel-caption {
background: rgba(57,57,57,0.85);
background: -moz-linear-gradient(45deg, rgba(57,57,57,0.85) 0%, rgba(57,57,57,0.85) 29%, rgba(57,57,57,0.85) 49%, rgba(57,57,57,0.85) 63%, rgba(57,57,57,0.85) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(57,57,57,0.85)), color-stop(29%, rgba(57,57,57,0.85)), color-stop(49%, rgba(57,57,57,0.85)), color-stop(63%, rgba(57,57,57,0.85)), color-stop(100%, rgba(57,57,57,0.85)));
background: -webkit-linear-gradient(45deg, rgba(57,57,57,0.85) 0%, rgba(57,57,57,0.85) 29%, rgba(57,57,57,0.85) 49%, rgba(57,57,57,0.85) 63%, rgba(57,57,57,0.85) 100%);
background: -o-linear-gradient(45deg, rgba(57,57,57,0.85) 0%, rgba(57,57,57,0.85) 29%, rgba(57,57,57,0.85) 49%, rgba(57,57,57,0.85) 63%, rgba(57,57,57,0.85) 100%);
background: -ms-linear-gradient(45deg, rgba(57,57,57,0.85) 0%, rgba(57,57,57,0.85) 29%, rgba(57,57,57,0.85) 49%, rgba(57,57,57,0.85) 63%, rgba(57,57,57,0.85) 100%);
background: linear-gradient(45deg, rgba(57,57,57,0.85) 0%, rgba(57,57,57,0.85) 29%, rgba(57,57,57,0.85) 49%, rgba(57,57,57,0.85) 63%, rgba(57,57,57,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393939', endColorstr='#393939', GradientType=1 );
    max-height: 465px;
    min-height: 300px;
    max-width: 80%;
    z-index: 10;
}

#templatemo-carousel .carousel-caption p {
    font-weight: 300;
    padding: 10px;
}

#templatemo-carousel .item {
    height: 500px;
}

#templatemo-carousel .carousel-inner > .item > img {
    position: absolute;
    min-width: 100%;
    height: 500px;
    left: 0;
    top: 0;
}

@media (min-width: 968px) {
    #templatemo-carousel .carousel-caption p {
        margin-bottom: 20px;
        line-height: 1.4;
        font-size: 24px;
    }

    #templatemo-carousel .carousel-caption {
        padding-bottom: 140px;
        right: 20%;
        left: 20%;
    }
}

@media (max-width: 768px) {
    #templatemo-carousel .carousel-caption {
        padding-bottom: 120px;
    }
}

@media (max-width: 1024px) {
    #templatemo-carousel {
        background: url('../images/upperfieldsnow.png') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
        height: 500px;
    }
}

/* ------ End of Carousel ----- */

/* ------ Welcome & Slogna ------ */
.templatemo-welcome {
    background: #fff;
    border-bottom: 1px solid #cccccc;
    min-height: 230px;
}

.templatemo-slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    margin: 60px 0;
}

.templatemo-slogan span{
    font-size: 3vh;

}

.templatemo-service {
    margin-bottom: 100px;
    margin-top: 100px;
}

.templatemo-service-item {
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}


.templatemo-service-item p {
    font-weight: lighter; 
    text-align: justify; 
    margin-top: 25px;
    font-size: 14px;
    color: #929292;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #800000;
}


.btn-orange {
    background-color: #800000;
    -webkit-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #4d0000;
    color:#ffffff;
}

.btn-green {
    background-color:#393939;
    -webkit-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #7f7f7f;
    color:#ffffff;
}

.nav > li > a {
    padding: 10px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ff7600;
    color:#fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #393939;
    color:#fff;
    font-weight: 500;
}


.nav > li > a {
    color: #ffffff;
    font-weight: 400;
}
.navbar-default {
    background: transparent;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #393939;
    -webkit-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 5px 0px rgba(0,0,0,0.75);
    color:#fff;
    font-weight: 500;
}

.navbar {
    margin-bottom: 0px;
}

.templatemo-service-item-header {
    margin-left: -10px; 
    padding: 16px 20px 20px; 
    font-weight: bold;
    display: inline-block;
}

.templatemo-header-orange {
    background-color:#ff7600;
    min-width: 298px;
    height: 67px;
    color: #fff; 

}

#section_title {
    display: block;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.team_hr {
    border: 1px solid #fff; 
    width: 30%; 
    float: left;
}

.team_hr_left {
    margin-right: 15px;
    margin-left: 15px; 
}

.team_hr_right {
    margin-left: 15px;
}

.homelink{
    color: #000;
    margin: auto;
    padding-bottom: 15px;
    width: 15%;
}

.homelink a {
    color: white;
    text-align: center;
}


.hr_gray {
    border: 1px solid #cccccc; 
}

.templatemo-team {
    background: url('../images/chalkboard-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  'Open Sans', sans-serif;
    min-height:590px;
    color:#ffffff;
}

.templatemo-team p{
    font-size: 15px;
    padding: 5px;
    text-indent: 25px;
}

.templatemo-line-header {
    margin-top:80px;
    margin-bottom:40px;
}

/*-----Lesson's CSS-----*/

#prealrev{
    background: url("https://s-media-cache-ak0.pinimg.com/564x/2b/08/7d/2b087d4c5d484c81533fbf65cb7dfdf5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#prealgunit2{
    background: url("http://content.gcflearnfree.org/topics/249/alg_writing_operators_2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#prealgunit3{
    background: url("http://www.algebra-class.com/images/coordinate-plane-answers.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#prealgunit4{
    background: url("http://www.mathmotivation.com/images/exponentproperties.GIF");
    background-repeat: no-repeat;
    background-size: cover;
}

#prealgunit5{
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Intersecting_planes.svg/2000px-Intersecting_planes.svg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#lineareq{
    background: url("http://www.regentsprep.org/regents/math/algebra/ac5/lineargraph.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#alg1bunit2{
    background: url("http://36gu5d4dxary1824ba1o7kkq6uc.wpengine.netdna-cdn.com/help/wp-content/uploads/sites/2/2014/09/systems-of-linear-inequalities.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#alg1bunit3{
    background: url("http://www.coolmath.com/sites/cmat/files/images/04-Polynomials-15.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#alg1bunit4{
    background: url("http://tutorial.math.lamar.edu/Classes/Alg/Factoring_files/eq0072P.gif");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}

#alg1bunit5{
    background: url("http://dl.uncw.edu/digilib/mathematics/algebra/mat111hb/pandr/quadratic/shift.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#calcpercents{
    background: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#percentwp{
    background: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----End of Lesson's CSS-----*/

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding-top: 35%;
    padding-left: 25%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.thumb-overlay a {
    float:left;
    margin-right: 5px;
}



.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
}

.row_team {
    margin-left:-50px;
    margin-top:70px;
}

.row_team li {
    list-style: none;
}

.templatemo-project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.templatemo-project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background : rgba(0,0,0,.75);
    border : 2px solid #ff7600;
    visibility: hidden;
    position: absolute;
    text-align:center;
    padding-top:40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}


.project-overlay hr {
    width : 70%;
	
}

.templatemo-project-gallery li {
    margin:15px;
}

.txt_darkgrey {
    color: #393939;
}

.txt_orange {
    color: #800000;
}

.txt_slogan {
    font-size:14px; 
    color:#929292;
}

.templatemo-line-header span {
    font-size: 18px; 
    float :left; 
    margin-top: 10px;
}

.team_box  div {
    text-align: center; 
    padding-top: 100px;
}

.span_blog {
    margin-bottom: 80px;
}

.blog_post {
    color: #333333; 
    padding: 10px;
}

.blog_header {
    font-weight: bold; 
    font-size: 16px; 
}

.blog_text {
    text-align: justify; 
    font-size: 14px; 
    margin-top: 20px;
}

#templatemo-contact {
	margin-top:100px; 
	border-top: 1px solid #cccccc; 
	font-size:14px;
}
.templatemo-contact-map {
    margin-bottom: 15px;
    height: 378px;

}

.head_contact {
    padding-bottom:80px; 
    margin-bottom:0;
}

.contact_right img {
	margin-right:2px;
}


.contact_right p a{
    color: #800000;
}

.tweet_txt {
	border-left:2px solid #ffffff; 
	min-height:160px;
}

.twitter_user {
	color: #FFFF33; 
	font-size: 14px;
	float: right;
}

.templatemo-partners {
	border-top: 2px solid #cccccc;
}

.templatemo-partners .templatemo-partner-item {
    margin-bottom: 5px;
}

.templatemo-footer {
	border-top: 2px solid #cccccc; 
	margin-top: 100px;
}

.footer_container {
	margin-top:60px; 
	margin-bottom:20px;
}

.footer_bottom_content {
	margin: auto;
	margin-bottom: 30px;
	font-size: 14px;
	color:#333333;
}

ul.templatemo-project-gallery  li  a img:hover {
    border: 3px solid #ff7600;
}

.link_orange:hover {
    text-decoration:none;
}
.templatemo-project-gallery {         
    margin:0 0 0 0;
    margin-top:30px;
    margin-left: -40px;
}
.templatemo-project-gallery li {     
    list-style:none;
    margin-bottom:25px;           
}
.templatemo-project-gallery li img {
  cursor: pointer;
}

.templatemo-tweets {
    background-color: #393939;
    min-height:200px;
    font-family:  'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    margin-top:100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
	margin-top:30px; 
	margin-bottom:30px;
}

.blog_box {
	margin-left: -12px;
}

#google_classroom_codes{
    font-size: 13px;
    text-align: center;
}

@media (min-width:991px) and (max-width:1200px) {
    .templatemo-project-box, .project-overlay {
        height:170px;
        width:170px;
    }

    .templatemo-project-gallery {
        margin-left: -70px;
    }

    .templatemo-service-item-header {
        padding: 16px 10px 20px;
    }

    .templatemo-header-orange {
        min-width: 230px;
    }

    .team_box,  .team_box_over {
        height:220px;
        width:220px;
    }
	
}


@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }
	
    .templatemo-btn-read-more {
        float:right;
        margin-bottom :40px; 
    }
}


@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .templatemo-project-box , .project-overlay {
       height:130px;
       width:130px;
       padding-top: 0px;
    }

    .templatemo-project-gallery {
       margin-left: 10px; 
    }

    .blog_box{
       margin-right: -140px;
    }
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  } 
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;
       
    }
    .templatemo-btn-read-more {
            float:right;
            margin-bottom :40px; 
      }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
            padding-left: 30%;

    }
	.templatemo-service-item-header {
		font-size: 16px;
		
		padding: 23px 10px 22px;
	}
	.templatemo-header-orange {
		min-width: 0px;
	}
	
}

@media (min-width:991px) and (max-width: 1200px) {
	 .team_hr {
		width: 34%; 
	}
}

@media (min-width:683px) and ( max-width: 991px) {
	 .team_hr {
		width: 30%;
	}
    
    #google_classroom_codes{
    }
}

@media (min-width:585px) and ( max-width: 683px) {
        .member-thumb .thumb-overlay {
            padding-left: 25%;

        }
	 .team_hr {
		width: 27%;
	}
}

@media (min-width:536px) and ( max-width: 585px) {
	 .team_hr {
		width: 23%;
	}
}

@media  (min-width:410px) and  ( max-width: 536px) {
	 .team_hr {
		width: 16%;
	}
}

@media  ( max-width: 410px) {
	 .team_hr {
		width: 11%;
	}
}
