/*
   WDDS    WDD WDDSWDD   DSWDDSW    DDSWDDSW 
   DSW    DDSW DSWDDSWD  WDDSWDDS  DSWDDSWDD                                  
   DSW     DDS DSW   WDD WDD   DSW DSWDDSW   
   SWDDSWD SWD SWDD  DDS DDSW  SWD  WDDSWDDS  
   DDSWDDSWDD  DDS   SWD SWD   DDS      DSWD  
   SWDDSWDDSW  SWD  WDDS DDS  DSWD SWDDSWDDS  
  WDDSW DSWDD WDDSWDDSW DSWDDSWDD WDDSWDDSW   
  DSWD   DDSW DSWDDSWD  WDDSWDDS  DSWDDSWD    

Designed by Craig Anthony White II
Start Date: June 11th, 2015 | Finish Date: ??? 
--*/

/* WDDS Custom Stylesheet */

/* WDDS Site Outline */

/* 
------- Table of Contents ------
*/

/* ----------- General CSS ---------- */

@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


#parallax-world-of-ugg .title {
position: relative;
background: gray;
padding: 60px;
margin:0 auto; 
height: 58vh;
text-align:center;
}

#sportaltitle{
height: 58vh;
background: gray;
position: relative;
}

#sbplogo{
background-image: url(../images/sbpschoollogomedium.png);
background-repeat: no-repeat;
background-position:center;
width: 100%;
height: 25%;
position: absolute;
margin: 0 auto;
padding: 0;
top: 0vh; left: 0; bottom: 0; right: 0;
}

#title h2{
width: 100%;
height:32%;
margin: auto;
position: absolute;
top: 24vh;
left: 0;
bottom: 0; 
right: 0;
opacity: 0.95;
}

#title h3{
width: 100%;
height: 10%;
margin: auto;
position: absolute;
top: 32vh; left: 0; bottom: 0; right: 0;
z-index: 100;
}

#nav2{
height:7%;
width:9%;
top: 3vh;
margin: 0;
padding: 0;
left: 3vw;
list-style: none;
opacity:0.75;
position: fixed;
background-color: gray;
background-image: url(../images/menuburger.png);
background-repeat: no-repeat;
background-position: center;
border-radius: 0px 0px 0px 0px;
z-index: 500;
}

#menu2{
display: flex;
height: 100%;
width: 100%;
}

#menu2:hover #navmenu{
display: flex;
}

#nav2:hover{
background-image: url(../images/menuburgerhover.png);
opacity:0.95;
}
/*------ Hex Pattern Effect----*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background: white;
}

.socket {
  width: 100%;
  height: 64%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 14vh; left: 0; bottom: 0; right: 0;
  z-index: 2;
}

.hex-brick {
  background: #830300;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  -webkit-animation-name: fade;
  -moz-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
}
.hex-brick.h2 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hex-brick.h3 {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.r2 {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.r3 {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.r1 > .hex-brick {
  -webkit-animation-name: fade;
  -moz-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.r2 > .hex-brick {
  -webkit-animation-name: fade;
  -moz-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.r3 > .hex-brick {
  -webkit-animation-name: fade;
  -moz-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 7;
  -moz-animation-iteration-count: 7;
  animation-iteration-count: 7;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.01);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.01);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    transform: scale(0.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fade {
  0% {
    background: #abf8ff;
  }
  50% {
    background: #90bbbf;
  }
  100% {
    background: #abf8ff;
  }
}
@-moz-keyframes fade {
  0% {
    background: #830300;
  }
  50% {
    background: #830300;
  }
  100% {
    background: #830300;
  }
}
@keyframes fade {
  0% {
    background: #830300;
  }
  50% {
    background: #830300;
  }
  100% {
    background: #830300;
  }
}

/*------ End of Hex Pattern Effect----*/
.cgscale{
color: black;
}

#parallax-world-of-ugg .summer {
padding-top: 200px; 
padding-bottom: 200px; 
overflow: hidden; 
position: relative; 
width: 100%; 
background-image: url("../images/upperfieldnewark.jpg"); 
background-attachment: fixed; 
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
background-repeat: no-repeat; 
background-position: bottom left;
}

#parallax-world-of-ugg .math9lessons {
padding-top: 200px; 
padding-bottom: 200px; 
overflow: hidden; 
position: relative; 
width: 100%; 
background-image: url("../images/sideshanley.jpg"); 
background-attachment: fixed; 
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
background-repeat: no-repeat; 
background-position: bottom left;
}

#parallax-world-of-ugg .fall{
padding-top: 200px; 
padding-bottom: 200px; 
overflow: hidden; 
position: relative; 
width: 100%; 
background-image: url("../images/fall.jpg"); 
background-attachment: fixed; 
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
background-repeat: no-repeat; 
background-position: center center;
}

#parallax-world-of-ugg .winter{
padding-top: 200px; 
padding-bottom: 200px; 
overflow: hidden; 
position: relative; 
width: 100%; 
background-image: url("../images/winter.png"); 
background-attachment: fixed; 
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
background-repeat: no-repeat; 
background-position: center center;
}

#parallax-world-of-ugg .winter2{
padding-top: 200px; 
padding-bottom: 200px; 
overflow: hidden; 
position: relative; 
width: 100%; 
background-image: url("../images/upperfieldsnow.png"); 
background-attachment: fixed; 
background-size: cover; 
-moz-background-size: cover; 
-webkit-background-size: cover; 
background-repeat: no-repeat; 
background-position: center center;
}


.lesson-container {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.lessoncontainer {
  background: gray;
  opacity:0.9;
  width: 360px;
  height: 280px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-family:'Oswald', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
 text-align: center;
list-style-type: none;
}

.lessoncontainer a{
    font-size: 100%;
    display:inherit;
    color:white;
    padding-top:120px;
   text-decoration:none;
}

.lessoncontainer:hover{
   background:#830300;
}

.lesson {
    position: fixed;
    overflow: scroll;
    font-family:'Oswald', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity:0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    pointer-events: none;
}
.lesson:target {
    opacity:1;
    pointer-events: auto;
}
.lesson > div {
    color:white;
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 60px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #830300;
}



/* Media Queries */
/**************************/

@media screen and (max-width: 479px) {
    #title h3{
    top: 37vh;
    }
}
